@import '../../../assets/scss/config';

.wrapper {
  @include resetButton();

  color: $grey-200;
  fill: $green-500;
  font-size: font-size($font-size-regular);
  font-weight: $font-weight-bold;
  padding: 5px $base-vertical-rhythm * 2;

  &:disabled {
    color: $grey-400;
  }

  .smallButton {
    font-size: font-size($font-size-small);
    padding: 3px $base-vertical-rhythm;
  }

  /* ----------------------------------------------------------------------
   Pill Button
  ---------------------------------------------------------------------- */
  &.pillButton {
    border-radius: 6px;
    border: 2px solid $green-500;
    color: $white;
    fill: $white;

    &:hover,
    &:focus,
    &:active,
    &.isActive {
      color: $grey-600;
      fill: $grey-600;
      background-color: $green-500;
    }
  }

  &.pillAlertButton {
    border-radius: 6px;
    border: 2px solid $red-500;
    color: $white;
    fill: $white;

    &:hover,
    &:focus,
    &:active,
    &.isActive {
      color: $grey-600;
      fill: $grey-600;
      background-color: $red-500;
    }
  }

  &.pillPlainButton {
    border-radius: 6px;
    border: 2px solid $grey-500;
    color: $grey-200;
    fill: $grey-200;

    &:hover,
    &:focus,
    &:active,
    &.isActive {
      color: $white;
      fill: $white;
      background-color: $grey-500;
    }
  }

  /* ----------------------------------------------------------------------
   Plain Button
  ---------------------------------------------------------------------- */
  &.plainButton {
    &:hover,
    &:focus,
    &:active {
      color: $green-400;
      fill: $green-400;
    }

    &.isActive {
      color: $green-400;
      fill: $green-400;

      &:hover {
        color: $grey-200;
        fill: $grey-200;
      }
    }
  }

  /* ----------------------------------------------------------------------
   Link Button
  ---------------------------------------------------------------------- */
  &.linkButton {
    padding: 0;

    &:hover,
    &:focus,
    &:active {
      color: $green-500;
      fill: $green-500;
    }

    &.isActive {
      color: $green-500;
      fill: $green-500;

      &:hover {
        color: $green-400;
        fill: $green-400;
      }
    }
  }

  /* ----------------------------------------------------------------------
   Square Button
  ---------------------------------------------------------------------- */
  &.squareButton {
    &:hover,
    &:focus,
    &:active,
    &.isActive {
      color: $green-400;
      fill: $green-400;
      background-color: $grey-500;
    }

    &:disabled {
      background-color: transparent;
    }
  }
}
