@import './assets/scss/config';

:export {
  blue500: $blue-500;
  blue700: $blue-700;
  blue900: $blue-900;
  green400: $green-400;
  green400: $green-400;
  green500: $green-500;
  green700: $green-700;
  grey200: $grey-200;
  grey400: $grey-400;
  grey500: $grey-500;
  grey600: $grey-600;
  grey700: $grey-700;
  orange500: $orange-500;
  orange600: $orange-600;
  red500: $red-500;
  teal400: $teal-400;
  white: $white;
}
