@import './vars';

/* ----------------------------------------------------------------------
 Text
---------------------------------------------------------------------- */
@mixin bodyText1 {
  color: $grey-900;
  font-family: $font-family;
  font-size: inherit;
  font-weight: $font-weight-regular;
}

@mixin bodyText2 {
  color: $grey-700;
  font-family: $font-family;
  font-size: font-size($font-size-small);
  font-weight: $font-weight-regular;
}

/* ----------------------------------------------------------------------
 Display
---------------------------------------------------------------------- */
// Hidden
@mixin isHidden {
  display: none !important;
}

@mixin isVisuallyHidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.utl-isHidden {
  @include isHidden;
}

.utl-isVisuallyHidden {
  @include isVisuallyHidden;
}

// Vertical Rhythm
@for $i from 1 through 12 {
  .vr_#{$i} {
    margin-bottom: $i * $base-vertical-rhythm !important;
  }
}

// Horizontal Rhythm
@for $i from 1 through 12 {
  .hr_#{$i} {
    margin-right: $i * $base-vertical-rhythm !important;
  }
}

.utl-sectionDivider {
  border-bottom: 1px solid $grey-500;
  width: 100%;
}

/* ----------------------------------------------------------------------
 Button
---------------------------------------------------------------------- */
@mixin resetButton {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

/* ----------------------------------------------------------------------
 Print
---------------------------------------------------------------------- */
.u-isPrintOnly {
  display: none;

  @media print {
    display: block;
  }
}

.u-isHiddenPrint {
  @media print {
    display: none;
  }
}

/* ----------------------------------------------------------------------
 Breakpoint
---------------------------------------------------------------------- */
@mixin breakpoint($point) {
  @if $media-queries {
    @if $point == XS {
      @media (max-width: $xs) {
        @content;
      }
    } @else if $point == SM {
      @media (max-width: $sm) {
        @content;
      }
    } @else if $point == MD {
      @media (max-width: $md) {
        @content;
      }
    } @else if $point == LG {
      @media (max-width: $lg) {
        @content;
      }
    } @else if $point == XL {
      @media (max-width: $xl) {
        @content;
      }
    } @else {
      @content;
    }
  }
}
